<% @page_title = "イベントを探す" %>

<div class="container">
	<div class="row">
		<div class="col text-center"><h3>イベントを探す</h3></div>
	</div>
	<div class="row">
		<div class="col">
			<%= render 'form' %>
		</div>
	</div>
</div>