<% @page_title = "イベントを追加する" %>
<div class="container-fluid">
	<div class="row">
		<div class="col text-center"><h3>イベントを追加する</h3></div>
	</div>

	<div class="row">
		<div class="col">
			<%= render 'form', event: @event %>

		</div>
	</div>
</div>