.infomation_txt {
	color: lightgrey;
}

div {
    box-sizing: border-box;
}

.event_date_and_title_and_venue {
	padding: 10px;
}

.event_date, .event_title, event_venue {
	margin-bottom: 20px;
}
.event_date {
    font-size: 20px;
}
.event_title {
    font-size: 32px;
}

.event_venue {
    font-size: 20px;
}

.event_box {
	padding: 10px;
}
.event_performers {
	padding-bottom: 20px;
}

.event_left,.event_right {
    float:left;
    width: 50%;
}


.event_box::after{
        content: "";
        display: block;
        clear: both;
}

