<%= stylesheet_link_tag "header", :media => "all" %>
<header>
	<h1>sch</h1>
	<ul>
		<li><a href="/today/index">トップ</a></li>
		<li>おすすめ</li>
		<li><a href="/users">アカウント</a></li>
	</ul>
</header>