<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
			<h3>
				<%= current_user.name %>さんがマイリストに入れたイベント
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-10">
			<% @likes.each do |like| %>
				<% event = Event.find(like.event_id) %>
				<%= render 'layouts/event', event: event %>
			<% end %>
		</div>
	</div>
</div>
