<h1><%= @user.account %>さんが登録したイベント</h1>
<div class="container-fluid">
	<% @likes.each do |like| %>
		<% event = Event.find(like.event_id) %>
		<%= render 'layouts/event', event: event %>
	<% end %>
</div>