<h2 class="page_title"><%= @user.name %>さんがマイリストに入れたイベント</h2>
<div class="container-fluid">
	<% @likes.each do |like| %>
		<% event = Event.find(like.event_id) %>
		<%= render 'layouts/event', event: event %>
	<% end %>
</div>